<div class="container-fluid ">
    <h1>Login Page</h1>
        <hr>
        <br>
        <form method="POST" action="/login">
            <label for="email">E-mail:</label>
            <input type="text" placeholder="Please enter E-mail" name="email" title="Ex: Johndoe@gmail.com"  >
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" placeholder="Please enter Password" name="password" title="Ex: johndoe">
            <br>
            <br>
            <input type="submit" value="Submit"> 
        </form>
        <br>
        Or you can <a href="/signup"><button> Signup Here <button></a>
</div>    
