<div class="container-fluid ">
    <h1>Create Games</h1>
        <hr>
        <br>
        <form method="post" action="/games">
            <label>Title:</label>
            <input type="text" name="title" placeholder="Please enter Title">
            <br>
            <br>
            <label>Description:</label>
            <textarea name="description" placeholder="Describe the game"></textarea>
            <br>
            <br>
            <input type="submit">
        </form>
</div> 