<h2><%= @game.title %></h2>
<br>
<p><%= @game.description %></p>

<form method="POST" action="/games/<%= @game.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<a href="/games/<%= @game.id %>/update"><button> Update Game <button></a>
<a href="/games"><button> View Games <button></a>